

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/RobotoCondensed-Light.woff') format('woff'), url('../fonts/RobotoCondensed-Light.ttf')  format('truetype'), url('../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf')  format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Extrabold';
  src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Extrabold.woff') format('woff'), url('../fonts/OpenSans-Extrabold.ttf')  format('truetype'), url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}







	body,
	p,
	h1,
	h2,
	h3,
	h4,
	h5 {
	    margin: 0;
	    padding: 0;
	}
	ul {
	    margin: 0;
	    padding: 0;
	    list-style-type: none;
	}
	
	html, body {
	    position: relative;
		height: 100%;
	}
	
	
	body {
	    color: #000;
	    font-family: 'Roboto';
		font-weight: 400;
	    font-size: 14px;
	    margin: 0 auto;
		min-width: 1300px;
		background: #fff;
	}
	
	* { 
-webkit-appearance: none; 
}
	
	
	
			*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

	.container {
		max-width: 1170px;
		margin: 0 auto;
	}
	
	header {
	        background-image: url(../images/bg-hed.jpg);
    background-position: center;
    min-height: 100%;
    position: relative;
	    padding-top: 13px;
		    padding-bottom: 60px;
			background-size: cover;
	}
	
	.top-header {
	background-color: rgba(255, 255, 255, 0.9);
	    padding: 15px 0px;
	}
	
	.top-header  .row-top-header {
	    overflow: hidden;
		    padding: 0 15px;
	}
	
	.top-header  .row-top-header  .logo {
	    float: left;
		    overflow: hidden;
	}
	
	.top-header  .row-top-header  .logo .images-logo{
	float: left;
	}
	
	.top-header  .row-top-header  .logo .text-logo  {
	    overflow: hidden;
    padding-left: 14px;
	padding-top: 8px;
	}
	
	.top-header  .row-top-header  .logo .text-logo h3 {
	    color: black;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    font-family: 'OpenSans-Extrabold';
	    margin-bottom: 4px;
		    letter-spacing: 4px;
	}
	
	.top-header  .row-top-header  .logo .text-logo p {
	    color: black;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    font-family: 'Roboto-Condensed';
	}
	
	.top-header  .row-top-header .zvonok-header {
	    float: right;
		padding-top: 10px;
	}
	
	.top-header  .row-top-header .zvonok-header .tel {
	display: inline-block;
    vertical-align: top;
    padding-right: 20px;
	}
	
	.top-header  .row-top-header .zvonok-header .tel a {
	    color: black;
    font-size: 36px;
    font-weight: normal;
    line-height: 1;
    font-family: 'Roboto-Black';
    text-decoration: none;
	}
	
	.top-header  .row-top-header .zvonok-header  .btn-zvonok {
	    display: inline-block;
    vertical-align: top;
    width: 196px;
    height: 36px;
    background-color: #ff2903;
    background-image: linear-gradient(to top, #ff9c00 0%, #ffce00 100%);
    border: 1px solid #ffae00;
    border-radius: 4px 3px 3px 4px;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    color: #452b00;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto';
	}
	
	.top-header  .row-top-header .zvonok-header  .btn-zvonok:hover {
	    opacity: 0.8;
	}
	
	.top-menu {
	    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	    padding: 9px 0;
	}
	
	.top-menu  ul {
	    text-align: center;
	}
	
	.top-menu  ul li {
	display: inline-block;
    vertical-align: top;
	    margin: 0 16px;
	}
	
	.top-menu  ul li  a {
	color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto';
    text-decoration: none;
	}
	
	.top-menu  ul li  a:hover {
	    text-decoration: underline;
	}
	
	.text-header .row-text-header {
	    padding: 55px 15px 45px 15px;
	}
	
	.text-header .row-text-header .left-text-header {
	    display: inline-block;
    vertical-align: top;
	}
	
	.text-header .row-text-header .left-text-header h1 {
	    color: white;
    font-size: 52px;
    font-weight: normal;
    line-height: 1;
    font-family: 'Roboto-Black';
	    margin-bottom: 13px;
	}
	
	.text-header .row-text-header .left-text-header h2{
	    color: white;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
	}
	
	.text-header .row-text-header .left-text-header .na-vse-ruki p {
	    width: 284px;
    height: 30px;
    background-image: url(../images/bg-san.jpg);
    padding-left: 34px;
    line-height: 30px;
    color: black;
    font-size: 28px;
    font-weight: 900;
    font-family: 'Roboto-Black';
	margin-bottom: 6px;
	    letter-spacing: 6px;
	}
	
	.text-header .row-text-header .left-text-header .na-vse-ruki .san{
	    background-image: url(../images/bg-san.png);
    padding-left: 34px;
	margin-left: 54px;
	}
	
	.text-header .row-text-header .left-text-header .na-vse-ruki .ele{
	    background-image: url(../images/bg-ele.png);
    padding-left: 63px;
	margin-left: 31px;
	}
	
	.text-header .row-text-header .left-text-header .na-vse-ruki .plo{
	    background-image: url(../images/bg-plo.png);
    padding-left: 44px;
	margin-left: 60px;
	}
	
	.text-header .row-text-header .left-text-header .na-vse-ruki {
	    padding-top: 37px;
	}
	
	.text-header .row-text-header .left-text-header .na-vse-ruki h4{
	    color: white;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Roboto-Black';
    margin-top: 30px;
	}
	
	.text-header .row-text-header .right-text-header {
	    display: inline-block;
    vertical-align: top;
	}
	
	.block-form-za {
	    width: 437px;
    height: 369px;
    background-image: url(../images/bg-form.png);
    text-align: center;
    padding-top: 68px;
	}
	
	.block-form-za h2 {
	    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 40px;
	}
	
	.block-form-za input[type="text"] {
	    width: 264px;
    height: 43px;
    background-color: white;
    border-radius: 4px 3px 3px 4px;
    border: 0;
    padding-left: 54px;
    color: #666;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Roboto';
    margin-bottom: 7px;
	}
	
	.block-form-za input[type="submit"] {
	    width: 266px;
    height: 51px;
    background-color: white;
    background-image: linear-gradient(to top, #ff9c00 0%, #ffce00 100%);
    border: 1px solid #ffae00;
    border-radius: 4px 3px 3px 4px;
    color: #452b00;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
	    margin-top: 6px;
		cursor: pointer;
	}
	
	.block-form-za input[type="submit"]:hover {
	opacity: 0.8;
	}
	
	.block-form-za input[type="text"]:focus, .block-form-za input[type="text"]:active {
	outline: none;
	}
	
	.block-form-za input[type="submit"]:focus, .block-form-za input[type="submit"]:active {
	outline: none;
	}
	
	.block-form-za #FullName, .block-form-za #FullName2, .block-form-za #FullName3 {
		background-image: url(../images/ic-name.png);
		    background-repeat: no-repeat;
    background-position: 13px 5px;
	}
	
	.block-form-za #Telephone, .block-form-za #Telephone2, .block-form-za #Telephone3 {
	background-image: url(../images/ic-phone.png);
		    background-repeat: no-repeat;
    background-position: 16px 5px;
	}
	
	.text-header .row-text-header .right-text-header .block-form-za {
	    margin-bottom: -170px;
    margin-top: 90px;
    position: relative;
    z-index: 2;
	    margin-left: 75px;
	}
	
	.text-header-bt {
	background-color: rgba(0, 0, 0, 0.55);
	}
	
	.text-header-bt .row-header-bt h4{
	    background-image: url(../images/bg-hed-bot.png);
    padding-left: 19px;
    width: 517px;
    height: 40px;
    line-height: 40px;
	    font-family: 'Roboto-Black';
		    margin-bottom: 25px;
			font-size: 16px;
	}
	
	.text-header-bt .row-header-bt p {
	    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    position: relative;
    padding-left: 33px;
	}
	
	.text-header-bt .row-header-bt p:before {
    content: '';
    width: 18px;
    height: 13px;
    background-image: url(../images/marker-top.png);
    top: 11px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.text-header-bt .row-header-bt {
    padding: 0 15px 25px 15px;
}

.box-header {
    padding-top: 100px;
}
	
	
	.preim {
	    background-image: url(../images/bg-pr.jpg);
    background-position: center;
    min-height: 100%;
    position: relative;
	background-size: cover;
	padding-top: 100px;
	}
	
	.row-preim {
	    text-align: center;
    padding: 107px 15px 130px 15px;
	}
	
	.tit-black {
	    color: black;
    font-size: 30px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Roboto-Black';
    position: relative;
	letter-spacing: 4px;
    display: inline-block;
    padding-left: 44px;
	}
	
	.tit-black:before {
    content: '';
    width: 68px;
    height: 52px;
    background-image: url(../images/tit-black.png);
       top: -21px;
    left: 0px;
    position: absolute;
    z-index: 1;
}
	
	.row-preim  .block-preim {
	    display: inline-block;
    overflow: hidden;
    padding-top: 137px;
	    padding-bottom: 90px;
	}
	
	.row-preim  .block-preim  .box-preim{
	    float: left;
    width: 193px;
    text-align: center;
    margin: 0 20px;
	}
	
	.row-preim  .block-preim  .box-preim:first-child {
		margin-left: 0;
	}
	
	.row-preim  .block-preim  .box-preim:last-child {
		margin-right: 0;
	}
	
	.row-preim  .block-preim  .box-preim p {
	    color: black;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto';
    padding-top: 10px;
	}
	
	.row-preim  .block-preim  .box-preim p span {
	    color: #f90009;
    font-size: 24px;
    font-weight: 700;
	}
	
	.row-preim  .block-preim  .box-preim img {
	width: 100%;
	}
	
	.btn-zakaz {
	    width: 266px;
    height: 51px;
    background-color: white;
    background-image: linear-gradient(to top, #ff9c00 0%, #ffce00 100%);
    border: 1px solid #ffae00;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    line-height: 51px;
    text-align: center;
    color: #452b00;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
	cursor: pointer;
	}
	
	.btn-zakaz:hover {
		opacity: 0.8;
	}
	
	
	.uslug {
	    background-image: url(../images/bg-us.jpg);
    background-position: center;
    min-height: 100%;
    position: relative;
    background-size: cover;
	    padding-top: 70px;
	}
	
	.row-uslug {
	    text-align: center;
    padding: 155px 15px 107px 15px;
	}
	
	.tit-white {
	    font-size: 30px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Roboto-Black';
    position: relative;
    letter-spacing: 4px;
    display: inline-block;
    padding-left: 44px;
    color: white;
	}
	
	.tit-white:before {
    content: '';
    width: 69px;
    height: 52px;
    background-image: url(../images/tit-white.png);
       top: -21px;
    left: 0px;
    position: absolute;
    z-index: 1;
}
	
	.row-uslug .block-uslug {
	    display: inline-block;
		overflow: hidden;
		    padding-top: 130px;
    padding-bottom: 65px;
	}
	
	.row-uslug .block-uslug .box-uslug {
	    width: 259px;
    float: left;
    margin: 0 16px;
    text-align: center;
	}
	
	.row-uslug .block-uslug .box-uslug:first-child {
		margin-left: 0;
	}
	
	.row-uslug .block-uslug .box-uslug:last-child {
		margin-right: 0;
	}
	
	.row-uslug .block-uslug .box-uslug img{
	    width: 100%;
	}
	
	.row-uslug .block-uslug .box-uslug p {
	color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding-top: 5px;
	}
	
	.poradok {
	    background-image: url(../images/bg-por.jpg);
    background-position: center;
    min-height: 100%;
    position: relative;
    background-size: cover;
	}
	
	.row-poradok {
	    text-align: center;
    padding: 190px 15px 110px 15px;
	}
	
	.row-poradok .block-poradok {
	    overflow: hidden;
    padding-top: 115px;
    padding-bottom: 80px;
    text-align: center;
	}
	
	.row-poradok .block-poradok .box-poradok {
	display: inline-block;
    vertical-align: top;
    position: relative;
	margin: 0 10px;
	    min-width: 128px;
	}
	
	.row-poradok .block-poradok .box-poradok:nth-child(2) img{
	    position: absolute;
    left: 0;
    right: 0;
    top: 84px;
    margin: auto;
	}
	
	.row-poradok .block-poradok .box-poradok:nth-child(1), .row-poradok .block-poradok .box-poradok:nth-child(3) p {
	    padding-top: 10px;
	}
	
	.row-poradok .block-poradok .box-poradok:nth-child(1):before {
    content: '';
    width: 92px;
    height: 79px;
    background-image: url(../images/por-line-l.png);
     top: 77px;
    right: -66px;
    position: absolute;
    z-index: 1;
}

	.row-poradok .block-poradok .box-poradok:nth-child(3):before {
    content: '';
    width: 92px;
    height: 79px;
    background-image: url(../images/por-line-r.png);
        top: 77px;
    left: -61px;
    position: absolute;
    z-index: 1;
}
	
	.row-poradok .block-poradok .box-poradok p{
	    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
	}
	
	
	.row-poradok .block-poradok .box-poradok span {
		color: black;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
    padding-top: 8px;
    display: inline-block;
	}
	
	.cena {
	    background-image: url(../images/bg-cena.jpg);
    background-position: center;
    min-height: 100%;
    position: relative;
    background-size: cover;
	padding-top: 70px;
	}
	
	.row-cena {
	text-align: center;
    padding: 185px 15px 170px 15px;
	}
	
	.row-cena .block-cena {
	    margin: 113px auto;
    width: 855px;
    height: 145px;
    background-image: url(../images/table.png);
	padding: 20px 50px 20px 50px;
	}
	
	.row-cena .block-cena .line-cena {
	    overflow: hidden;
	}
	
	.row-cena .block-cena .line-cena p {
	    color: black;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto';
	}
	
	.row-cena .block-cena .line-cena  .cl-1 {
	    width: 73%;
    float: left;
    text-align: left;
    padding: 12px 0px 12px 28px;
	}
	
	.row-cena .block-cena .line-cena  .cl-2 {
	    width: 27%;
    float: left;
    text-align: center;
	padding: 12px 0px 12px 0px;
	}
	
	
	footer {
	    background-image: url(../images/bg-futer.jpg);
    background-position: center;
    min-height: 100%;
    position: relative;
    background-size: cover;
	    padding-top: 130px;
	}
	
	.futer-kontakt .row-futer-kontakt {
	    padding: 107px 15px 13px 15px;
		    overflow: hidden;
	}
	
	.futer-kontakt .row-futer-kontakt .left-futer-kontakt {
	    float: left;
    padding-top: 98px;
	}
	
	.futer-kontakt .row-futer-kontakt .left-futer-kontakt h2 {
	    font-size: 30px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Roboto-Black';
    position: relative;
    letter-spacing: 4px;
    display: inline-block;
    padding-left: 44px;
    color: white;
	}
	
	.futer-kontakt .row-futer-kontakt .left-futer-kontakt h2:before {
    content: '';
    width: 69px;
    height: 52px;
    background-image: url(../images/tit-white.png);
       top: -21px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

	.futer-kontakt .row-futer-kontakt .right-futer-kontakt {
	float: right;
	}
	
	.futer-kontakt .row-futer-kontakt .left-futer-kontakt .pnone-futer-kontakt {
	    padding-top: 45px;
    padding-left: 70px;
	}
	
	.futer-kontakt .row-futer-kontakt .left-futer-kontakt .pnone-futer-kontakt p {
	    position: relative;
    padding-left: 28px;
	    margin-bottom: 8px;
	}
	
	.futer-kontakt .row-futer-kontakt .left-futer-kontakt .pnone-futer-kontakt p:before {
    content: '';
    width: 15px;
    height: 23px;
    background-image: url(../images/futer-phon.png);
        top: 9px;
    left: 0px;
    position: absolute;
    z-index: 1;
}
	
	.futer-kontakt .row-futer-kontakt .left-futer-kontakt .pnone-futer-kontakt p a {
	    color: white;
    font-size: 32px;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
	}

	.bottom-menu {
	    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	    padding: 9px 0;
	}
	
	.bottom-menu  ul {
	    text-align: center;
	}
	
	.bottom-menu  ul li {
	display: inline-block;
    vertical-align: top;
	    margin: 0 16px;
	}
	
	.bottom-menu ul li  a {
	color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto';
    text-decoration: none;
	}
	
	.bottom-menu  ul li  a:hover {
	    text-decoration: underline;
	}
	
	
	.row-copywrite {
	      padding: 25px 15px 100px 15px;
	    overflow: hidden;
	}
	
	.row-copywrite .left-copywrite {
	    float: left;
	}
	
	.row-copywrite .left-copywrite  .soc-icon {
	    overflow: hidden;
	}
	
	.row-copywrite .left-copywrite  .soc-icon a {
	    width: 49px;
    height: 49px;
    float: left;
    margin-right: 7px;
	}
	
	.row-copywrite .left-copywrite  .soc-icon .vk {
	background-image: url(../images/ic-vk.png);
	}
	
	.row-copywrite .left-copywrite  .soc-icon .fb {
	background-image: url(../images/ic-fb.png);
	}
	
	.row-copywrite .left-copywrite  .soc-icon .tw {
	background-image: url(../images/ic-tw.png);
	}
	
	.row-copywrite .right-copywrite {
	    float: right;
	}
	
	.row-copywrite .right-copywrite .de-site p{
	display: inline-block;
    vertical-align: middle;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    padding-right: 25px;
	}
	
	.row-copywrite .right-copywrite .de-site a {
	    display: inline-block;
    vertical-align: middle;
	}
	
	
	
	.raboty {
	    background-image: url(../images/bg-raboty.jpg);
    background-position: center;
    min-height: 100%;
    position: relative;
    background-size: cover;
	    padding-top: 50px;
	}
	
	.row-raboty {
	    text-align: center;
    padding: 75px 15px 35px 15px;
	}
	
	.row-raboty .block-raboty .item .im1 {
	    margin-bottom: 25px;
	}
	
	.row-raboty .block-raboty .item img {
	    border: 2px solid #fff;
    border-radius: 3px;
	width: 100%;
	}
	
	.row-raboty .block-raboty  {
	    padding-top: 50px;
	}
	
	.owl-controls {
	    padding-top: 50px;
    padding-bottom: 30px;
	}
	
	.owl-controls .owl-nav {
	text-align: center;
	}
	
	.owl-controls .owl-nav .owl-prev {
	    display: inline-block !important;
    width: 28px;
    height: 32px;
    background-image: url(../images/arrow-left.png);
    margin: 0 10px;
	}
	
	.owl-controls .owl-nav .owl-prev:hover {
	background-image: url(../images/arrow-left-h.png);
	}
	
	.owl-controls .owl-nav .owl-next {
	    display: inline-block !important;
    width: 28px;
    height: 32px;
    background-image: url(../images/arrow-right.png);
    margin: 0 10px;
	}
	
	.owl-controls .owl-nav .owl-next:hover {
	background-image: url(../images/arrow-right-h.png);
	}
	
	
	.testimonials {
	    background-image: url(../images/bg-testi.jpg);
    background-position: center;
    min-height: 100%;
    position: relative;
    background-size: cover;
	    padding-top: 70px;
	}
	
	.row-testimonials {
	        padding: 90px 15px 55px 15px;
    text-align: center;
	}
	
	.row-testimonials .block-testimonials .box-testimonials {
	    overflow: hidden;
		    background: url(../images/line-v.png) no-repeat right bottom, url(../images/line-v.png) no-repeat left bottom, url(../images/line-h.png) no-repeat left bottom, url(../images/line-h.png) no-repeat right top, url(../images/bolt.png) no-repeat right 12px bottom 12px, url(../images/bolt.png) no-repeat right 12px top 12px, url(../images/bolt.png) no-repeat left 12px bottom 12px, url(../images/bolt.png) no-repeat left 12px top 12px;
    background-color: #fff;
    border-radius: 3px 4px 4px 3px;
	    padding: 25px;
	}
	
	.row-testimonials .block-testimonials .box-testimonials:nth-child(1) .img-testimonials{
	    float: left;
	}
	
	.row-testimonials .block-testimonials .box-testimonials:nth-child(2) .img-testimonials{
	    float: right;
	}
	
	.row-testimonials .block-testimonials .box-testimonials  .img-testimonials img{
	    max-width: 163px;
		    border-radius: 4px;
	}
	
	.row-testimonials .block-testimonials .box-testimonials  .img-testimonials {
	    padding: 0 8px;
	}
	
	.row-testimonials .block-testimonials .box-testimonials  .text-testimonials {
	    overflow: hidden;
    text-align: left;
	    padding: 0 8px;
		    background-image: url(../images/ic-l.png);
    background-repeat: no-repeat;
    background-position: top left 8px;
	    padding-top: 5px;
	}
	
	.row-testimonials .block-testimonials {
	    padding-top: 65px;
	}
	
	.row-testimonials .block-testimonials .box-testimonials:nth-child(1) {
	    margin-bottom: 43px;
	}
	
	.row-testimonials .block-testimonials .box-testimonials  .text-testimonials h3 {
	    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
	    padding-bottom: 5px;
	}
	
	.row-testimonials .block-testimonials .box-testimonials  .text-testimonials p {
	    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 10px;
    font-family: 'Roboto';
	border-top: 1px dotted #000;
	}
	
	.f-nav {
	    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #000;
    z-index: 10;
	}
	
	.f-nav ul li a {
	color: #000;
	}
	
	.success {
	padding: 0 40px;
    text-align: center;
	}
	
	.success p {
		    color: black;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
	    margin-bottom: 20px;
	}
	
	.success p  span {
	    display: block;
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 50px;
	}
	
	.mobile-menu {
		display: none;
	}
	
	
	#back-to-top {
      position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 40px;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    border-radius: 7px;
    color: transparent;
    font-size: 23px;
    background-image: url(../images/ar-top.png);
    background-size: cover;
}
#back-to-top:hover {
  
}
#back-to-top.show {
    opacity: 1;
}
	
	
	
		
	
	@media only screen and (max-width: 1700px) {
	
		.box-header {
			padding: 0px;
		}
		
		.preim {
		padding-top: 0px;
		}
		
		.uslug {
		padding-top: 0px;
		}
		
		.cena {
		padding-top: 0px;
		}
		
		footer {
		padding-top: 0px;
		}
		
		.raboty {
		padding-top: 0px;
		}
		
		.testimonials {
		padding-top: 0px;
		}
		
	}
	
	@media only screen and (max-width: 1024px) {
		body {
		    min-width: auto;
			min-width: initial;
		}
		
		html, body {
			position: relative;
			height: initial;
			height: auto;
		}
		
		.row-cena .block-cena {
		    width: 100%;
    max-width: 855px;
    height: auto;
    height: initial;
	border: 1px solid #cfcfcf;
    background: none;
    padding: 0;
		}
		
		.row-cena .block-cena .line-cena {
		border-bottom: 1px solid #cfcfcf;
		}
		
		.row-cena .block-cena .line-cena  .cl-1 {
		border-right: 1px solid #cfcfcf;
		}
		
		.row-cena .block-cena .line-cena:last-child {
		border-bottom: 0;
		}
		
		.top-header  .row-top-header {
		    text-align: center;
		}
		
		.top-header  .row-top-header  .logo {
		    float: none;
    display: inline-block;
		}
		
		.top-header  .row-top-header .zvonok-header {
		float: none;
		}
		
		.top-header  .row-top-header  .logo .text-logo {
		    text-align: left;
		}
		
		.text-header .row-text-header {
		    text-align: center;
		}
		
		.text-header .row-text-header .left-text-header .na-vse-ruki {
		display: inline-block;
		}
		
		.text-header .row-text-header .left-text-header .na-vse-ruki .san {
		    margin: 0 auto;
    padding: 0;
    margin-bottom: 6px;
		}
		
		.text-header .row-text-header .left-text-header .na-vse-ruki .ele {
		  margin: 0 auto;
    padding: 0;
    margin-bottom: 6px;
		}
		
		.text-header .row-text-header .left-text-header .na-vse-ruki .plo {
		 margin: 0 auto;
    padding: 0;
    margin-bottom: 6px;
		}
		
		.text-header .row-text-header .right-text-header .block-form-za {
		    margin: 0;
		}
		
		.row-preim  .block-preim {
		    display: block;
    text-align: center;
		}
		
		.row-preim  .block-preim  .box-preim {
		float: none;
    display: inline-block;
    vertical-align: top;
		}
		
		.row-preim .block-preim .box-preim:first-child {
			margin-left: 20px;
		}
		
		.row-preim .block-preim .box-preim:last-child {
			margin-right: 20px;
		}
		
		.row-uslug .block-uslug {
		    display: block;
    text-align: center;
		}
		
		.row-uslug .block-uslug .box-uslug {
		display: inline-block;
    float: none;
    vertical-align: top;
    margin-bottom: 15px;
		}
		
		.row-uslug .block-uslug .box-uslug:first-child {
			margin-left: 16px;
		}
		
		.row-uslug .block-uslug .box-uslug:last-child {
			margin-right: 16px;
		} 
		
		.row-testimonials .block-testimonials .box-testimonials:nth-child(1) .img-testimonials {
		float: none;
    text-align: center;
		}
		
		.row-testimonials .block-testimonials .box-testimonials:nth-child(2) .img-testimonials {
		float: none;
    text-align: center;
		}
		
		.row-testimonials .block-testimonials .box-testimonials  .img-testimonials img {
		display: inline-block;
		}
		
		.row-testimonials .block-testimonials .box-testimonials  .text-testimonials h3 {
		    text-align: center;
		}
		
		.bottom-menu {
		    display: none;
		}
		
		.futer-kontakt .row-futer-kontakt {
		    text-align: center;
		}
		
		.futer-kontakt .row-futer-kontakt .left-futer-kontakt {
		    float: none;
		}
		
		.futer-kontakt .row-futer-kontakt .left-futer-kontakt .pnone-futer-kontakt {
		    display: block;
    padding: 0;
    width: 315px;
    margin: 0 auto;
    padding-top: 30px;
		}
		
		.futer-kontakt .row-futer-kontakt .right-futer-kontakt {
		    float: none;
    display: inline-block;
		}
		
	
	}
	
	@media only screen and (max-width: 768px) {
		
		.top-menu {
		    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 5;
		}
		
		.mobile-menu {
		    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto';
		}
		
		.top-menu  ul {
		     display: none;
    padding-top: 10px;
		}
		
		.top-menu  ul li  a {
		    color: #000;
		}
		
		.f-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-bottom: 2px solid #000;
    z-index: 10;
}	

	.top-header  .row-top-header .zvonok-header .tel {
	    padding: 0;
    margin: 0px 15px 15px 15px;
	}

		.text-header .row-text-header {
			padding: 75px 15px 45px 15px;
		}
		
		
		.row-preim  .block-preim  .box-preim {
		    margin-bottom: 15px;
		}
		
		.row-preim  .block-preim {
		    padding-top: 70px;
    padding-bottom: 50px;
		}
		
		.row-preim {
		    padding: 80px 15px 60px 15px;
		}
		
		.row-uslug {
		    padding: 80px 15px 60px 15px;
		}
		
		.row-uslug .block-uslug {
		    padding-top: 70px;
    padding-bottom: 50px;
		}
		
		.row-poradok {
		    padding: 80px 15px 60px 15px;
		}
		
		.row-poradok .block-poradok {
		padding-top: 70px;
    padding-bottom: 60px;
		}
		
		.row-testimonials {
		padding: 80px 15px 50px 15px;
		}
		
		.row-cena {
		padding: 80px 15px 60px 15px;
		}
		
		.row-cena .block-cena {
		margin: 70px auto;
		}
		
		.futer-kontakt .row-futer-kontakt {
		    padding: 80px 15px 13px 15px;
		}
		
		.futer-kontakt .row-futer-kontakt .left-futer-kontakt {
		padding: 0;
		}
		
		.row-copywrite {
		    padding: 25px 15px 50px 15px;
		}
		
		.text-header-bt .row-header-bt h4 {
		    width: 100%;
    line-height: 18px;
    height: inherit;
    height: auto;
		}
		
	
	}
	
	@media only screen and (max-width: 560px) {
		.block-form-za {
		    width: 100%;
    background: none;
    background-color: rgba(255, 255, 255, 0.52);
    height: initial;
    height: auto;
    padding: 0;
    padding: 20px 0;
		}
		
		.block-form-za h2 {
		margin-bottom: 20px;
		}
		
		.top-header  .row-top-header .zvonok-header .tel a {
		    font-size: 25px;
		}
		
		.top-menu  ul li {
		display: block;
    margin-bottom: 5px;
		}
		
		.text-header .row-text-header .left-text-header h1 {
		font-size: 34px;
		}
		
		.text-header .row-text-header .left-text-header h2 {
		    font-size: 24px;
		}
		
		.text-header .row-text-header .left-text-header .na-vse-ruki h4 {
		font-size: 30px;
		    margin-bottom: 20px;
		}
		
		.text-header-bt .row-header-bt h4 {
		    padding: 4px 15px;
		}
		
		.text-header-bt .row-header-bt p {
		    margin-bottom: 5px;
			    line-height: 22px;
		}
		
		.text-header-bt .row-header-bt p:before {
		    top: 4px;
		}
		
		.tit-black {
		font-size: 24px;
		    letter-spacing: 2px;
			padding-left: 24px;
		}
		
		.tit-white {
		font-size: 24px;
		    letter-spacing: 2px;
			padding-left: 24px;
		}
		
		.row-poradok .block-poradok .box-poradok:nth-child(1):before {
		display: none;
		}
		
		.row-poradok .block-poradok .box-poradok:nth-child(3):before {
		display: none;
		}
		
		.row-poradok .block-poradok .box-poradok:nth-child(2) img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
} 	
		
		.row-poradok .block-poradok .box-poradok {
		    margin-bottom: 20px;
		}
		
		.row-cena .block-cena .line-cena  .cl-1 {
		width: 100%;
    text-align: center;
    border: 0;
	    padding: 12px 0px 12px 0;
		}
		
		.row-cena .block-cena .line-cena  .cl-2 {
		width: 100%;
		}
		
		.row-cena .block-cena .line-cena p {
		    font-size: 20px;
		}
		
		.futer-kontakt .row-futer-kontakt .left-futer-kontakt h2 {
		font-size: 24px;
		    letter-spacing: 2px;
			padding-left: 24px;
		}
		
		.futer-kontakt .row-futer-kontakt .left-futer-kontakt .pnone-futer-kontakt {
		    width: 100%;
		}
		
		.futer-kontakt .row-futer-kontakt .left-futer-kontakt .pnone-futer-kontakt p {
		display: inline-block;
		}
		
		.futer-kontakt .row-futer-kontakt .left-futer-kontakt .pnone-futer-kontakt p a {
		    font-size: 24px;
		}
		
		.row-copywrite .left-copywrite {
		    float: none;
    text-align: center;
		}
		
		.row-copywrite .left-copywrite  .soc-icon a {
		    float: none;
    margin: 0 7px;
    display: inline-block;
		}
		
		.row-copywrite .right-copywrite {
		    float: none;
			text-align: center;
    padding-top: 20px;
		}
		
		.row-copywrite .right-copywrite .de-site p {
		    margin-bottom: 5px;
    padding: 0;
		}
		
		
		
	}
	
	