@font-face {
	    font-family: "Roboto-Regular";
	    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	}
	
	@font-face {
	    font-family: "Roboto-Medium";
	    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
	}
	
		@font-face {
	    font-family: "Roboto-Bold";
	    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
	}
	
		@font-face {
	    font-family: "Roboto-Light";
	    src: url("../fonts/Roboto-Light.ttf") format("truetype");
	}

			@font-face {
	    font-family: "OpenSans-Regular";
	    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
	}
	
	@font-face {
	    font-family: "Roboto-Thin";
	    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
	}
	
	@font-face {
	    font-family: "OpenSans-Semibold";
	    src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
	}
	body,
	p,
	h1,
	h2,
	h3,
	h4,
	h5 {
	    margin: 0;
	    padding: 0;
	}
	ul {
	    margin: 0;
	    padding: 0;
	    list-style-type: none;
	}
	body {
	    color: #000;
	    font-family: "Roboto-Regular";
	    font-size: 14px;
	    min-width: 1200px;
	    margin: 0 auto;
	    width: 100%;
		overflow-x: hidden;
		
	}
	
	.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
	}
	
	.block_hed {
		    overflow: hidden;
    min-height: 140px;
    box-sizing: border-box;
	}
	
	.block_hed .block_logo {
		    float: left;
    max-width: 308px;
    width: 100%;
    margin-top: 10px;
	}
	
	.block_hed  .text_hed{
		    float: left;
    max-width: 325px;
    box-sizing: border-box;
    margin-top: 25px;
	}
	
	.block_hed  .text_hed p {
		    font-family: "Roboto-Regular";
    font-size: 14px;
    color: #000;
    border-left: 1px solid #c4245a;
    margin-left: 5px;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
	}
	
	.block_hed .block_phone {
		    max-width: 245px;
    float: right;
    width: 100%;
    text-align: right;
	margin-top: 30px;
	position: relative;
	}
	
	.block_hed .block_phone:before {
    position: absolute;
    width: 32px;
    height: 32px;
    content: '';
    background: url(../images/phone_hed.png) 0 0 no-repeat;
    left: 5px;
    top: 7px;
}
	
	.block_hed .block_phone p {
		    font-family: "Roboto-Medium";
    font-size: 24px;
    color: #000;
	}
	
	.block_hed .block_phone a {
		    display: inline-block;
    width: 187px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    box-sizing: border-box;
    background: url(../images/bg_btn_hed.png) 0 0 no-repeat;
    background-size: cover;
    font-family: "Roboto-Medium";
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
	}
	
	.block_hed .block_phone a:hover {
	    opacity: 0.8;
	}
	
	.menu_top {
		    background: #004a78;
			height: 40px;
    line-height: 40px;
	}
	
	.menu_top ul {
		    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
	}
	
	.menu_top ul li {
	    display: inline-block;
    margin: 0px 15px;
	}
	
	.menu_top ul li:first-child {
		margin-left: 0px;
	}
	
	.menu_top ul li:last-child {
		margin-right: 0px;
	}
	
	.menu_top ul li  a{
	    font-family: "Roboto-Medium";
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
	}
	
	.menu_top ul li  a:hover {
	text-decoration: underline;
	}
	
	#slider {
		    min-height: 550px;
    box-sizing: border-box;
    background: url(../images/bg_slider.jpg) 0 0 no-repeat;
    background-size: cover;
	    text-align: center;
	}
	
	#slider  .block_slider {
		overflow: hidden;
	}
	
	#slider  .block_slider h2 {
		    font-family: "Roboto-Medium";
    font-size: 29px;
    color: #fff;
    font-weight: normal;
    line-height: 1;
    margin-top: 25px;
    display: block;
	}
	
	#slider  .block_slider > p {
		    color: #beedff;
    font-family: "Roboto-Bold";
    font-size: 18px;
    max-width: 825px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
	}
	
	#slider  .block_slider h3{
		    color: #fff;
    font-family: "Roboto-Bold";
    font-size: 23px;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: normal;
	}
	
	#slider .slid_box {
		    position: relative;
    overflow: hidden;
    min-height: 350px;
    max-width: 808px;
    margin: 0 auto;
    margin-top: -65px;
	}
	
	#slider .slid_box .item_slid {
		    width: 196px;
    height: 171px;
	    background-size: cover;
		position: absolute;
	}
	
	#slider .slid_box .sp1{
	background: url(../images/sp1.png) 0 0 no-repeat;
	left: 0;
	}
	
	#slider .slid_box .sp2{
	background: url(../images/sp2.png) 0 0 no-repeat;
	    left: 153px;
    top: 88px;
	}
	
	#slider .slid_box .sp3{
	background: url(../images/sp3.png) 0 0 no-repeat;
	    left: 0;
    right: 0;
    margin: auto;
    top: 175px;
	}
	
	#slider .slid_box .sp4{
	background: url(../images/sp4.png) 0 0 no-repeat;
	right: 153px;
    top: 88px;
	}
	
	#slider .slid_box .sp5{
	background: url(../images/sp5.png) 0 0 no-repeat;
	    right: 0;
	}
	
	.poz_rela {
		position: relative;
		height: 100%;
	}
	
	#slider .slid_box .item_slid   p {
		    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    font-family: "Roboto-Bold";
    font-size: 16px;
    text-transform: uppercase;
	}

	
	#slider .slid_box .item_slid  a {
		position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 72%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    font-family: "Roboto-Bold";
    font-size: 16px;
    width: 109px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: block;
    text-decoration: none;
    background: url(../images/bg_btn_sp.png) 0 0 no-repeat;
    background-size: cover;
	    display: none;
	}
	
	#zahvat1 {
		    min-height: 180px;
    box-sizing: border-box;
    background: url(../images/bg_zachvat1.jpg) 0 0 no-repeat;
    background-size: cover;
	}
	
	#zahvat1 h2 {
		    font-family: "Roboto-Light";
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
	padding-top: 35px;
	    margin-bottom: 20px;
	}
	
	#zahvat1 h2  span {
		font-family: "Roboto-Bold";
	}
	
	#zahvat1 .block_zahvat {
		position: relative;
	}
	
	#zahvat1 .block_zahvat:after {
		   position: absolute;
    width: 225px;
    height: 278px;
    content: '';
    background: url(../images/key_zah.png) 0 0 no-repeat;
       left: -235px;
    top: -30px;
	}
	
	#zahvat1 .block_zahvat:before {
		   position: absolute;
    width: 401px;
    height: 562px;
    content: '';
    background: url(../images/drel.png) 0 0 no-repeat;
        right: -525px;
    top: -180px;
	}
	
	.forma_zachvata {
		    max-width: 780px;
    width: 100%;
    margin: 0 auto;
	position: relative;
	}
	
	#zahvat1 .forma_zachvata:before {
		position: absolute;
    width: 55px;
    height: 64px;
    content: '';
    background: url(../images/arrow_zachvat1.png) 0 0 no-repeat;
           right: -80px;
    top: -30px;
	}
	
	.forma_zachvata form input[type="text"] {
		max-width: 246px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    text-align: left;
    border: none;
    color: #000;
    font-size: 14px;
    font-family: "OpenSans-Regular";
    padding-left: 35px;
    margin-right: 20px;
	    float: left;
		position: relative;
	}
	
	::-webkit-input-placeholder {color:#000;}
::-moz-placeholder          {color:#000;}
:-moz-placeholder           {color:#000;}
:-ms-input-placeholder      {color:#000;}

.forma_zachvata form input[type="submit"] {
	    max-width: 246px;
    width: 100%;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    float: left;
    background: url(../images/bg_btn_zachvat.png) 0 0 no-repeat;
    background-size: cover;
    font-family: "Roboto-Regular";
    font-size: 18.82px;
}

.forma_zachvata form {
	    overflow: hidden;
}

.forma_zachvata form #name, .forma_zachvata form #name2, .forma_zachvata form #name3, .forma_somnev form #name4, #name6 {
    background: url(../images/user_blu.png) left 15px center no-repeat;
    background-color: #fff;
	}
	
	.forma_zachvata form #phone, .forma_zachvata form #phone2, .forma_zachvata form #phone3, .forma_somnev form #phone4, #phone6{
    background: url(../images/phone_blu.png) left 15px center no-repeat;
    background-color: #fff;
	}
	
	#kompany {
		    min-height: 280px;
    box-sizing: border-box;
    padding-top: 60px;
	}
	
	#kompany h2 {
		    font-family: "Roboto-Light";
    color: #000;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
	margin-bottom: 25px;
    line-height: 1;
	}
	
	#kompany h2 span {
	    font-family: "Roboto-Bold";
    color: #cc0256;
	}
	
	#kompany .row_kompany {
	    overflow: hidden;
	}
	
	#kompany .row_kompany  .box_kompany{
		    width: 33.33%;
    float: left;
    box-sizing: border-box;
	padding-left: 65px;
	position: relative;
	}
	
	#kompany .row_kompany .komp1 {
	    padding-right: 25px;
	}
	
	#kompany .row_kompany .komp2 {
	    padding-right: 20px;
	}
	
	#kompany .row_kompany .komp3 {
	    padding-right: 12px;
	}
	
	#kompany .row_kompany  .box_kompany p {
	font-family: "Roboto-Light";
    color: #000;
    font-size: 16px;
	}
	
	#kompany .row_kompany .komp1 p:before {
	 background: url(../images/kom1.png) 0 0 no-repeat;
	 background-size: cover;
	 position: absolute;
    width: 52px;
    height: 52px;
    content: '';
    left: 0px;
    top: 0px;
	}
	
	#kompany .row_kompany .komp2 p:before {
	 background: url(../images/kom2.png) 0 0 no-repeat;
	 background-size: cover;
	 position: absolute;
    width: 47px;
    height: 47px;
    content: '';
    left: 0px;
    top: 0px;
	}
	
	#kompany .row_kompany .komp3 p:before  {
	 background: url(../images/kom3.png) 0 0 no-repeat;
	 background-size: cover;
	 position: absolute;
    width: 54px;
    height: 52px;
    content: '';
    left: 0px;
    top: 0px;
	}

	#pochemu {
		    min-height: 380px;
    box-sizing: border-box;
    padding-top: 60px;
	}
	
	#pochemu h2 {
		    font-family: "Roboto-Light";
    color: #000;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 1;
	}
	
	#pochemu h2 span {
		    font-family: "Roboto-Bold";
    color: #cc0256;
	}
	
	#pochemu .row_pochemu {
		    overflow: hidden;
	}
	
	#pochemu .row_pochemu  .box_pochemu{
		    width: 25%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 0 15px;
	}
	
	#pochemu .row_pochemu  .box_pochemu  h3{
	    font-family: "Roboto-Bold";
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 15px;
    margin-top: 10px;
	}
	
	#pochemu .row_pochemu  .box_pochemu p{
	font-family: "Roboto-Light";
    line-height: initial;
    color: #000;
    font-size: 14px;
	}
	
	#rabot {
		    min-height: 660px;
    box-sizing: border-box;
    padding-top: 60px;
	    background: #eaedee;
	}
	
	#rabot h2 {
		    font-family: "Roboto-Light";
    color: #000;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 1;
	}
	
	#tabs-container .tab-content {
	    display: none;
		overflow: hidden;
	}
	
	#tabs-container  #tab-1 {
	display: block;
	}
	
	#tabs-container .tabs-menu {
		text-align: center;
		margin-bottom: 55px;
	}
	
	#tabs-container .tabs-menu li {
		    display: inline-block;
    width: 132px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: #d9e3e6;
    border-radius: 4px;
    margin: 0 12px;
	}
	
	#tabs-container .tabs-menu li:hover {
		background: #bad2da;
	}
	
	#tabs-container .tabs-menu li.current {
		background: #1da7d9;
	}
	
	#tabs-container .tabs-menu li  a {
		    font-family: "Roboto-Light";
    color: #000;
    font-size: 14px;
    text-decoration: none;
    display: block;
	}
	
	#tabs-container .tabs-menu li.current a {
		color: #fff;
	}
	
	.slides_container {
		    width: 100%;
    height: auto;
    overflow: visible!important;
	}
	
	.slides_container .slides_control {
		    width: 100%!important;
    max-height: 258px !important;
    height: 100% !important;
    overflow: hidden;
	    left: 0 !important;
	}
	
	.slides_container .slides_control a{
	position: relative !important;
	left: 0 !important;
	}
	
	.slides_container .slides_control a img {
	    width: 100%;
	}
	
	.tab-content .box_tab {
    width: 50%;
    float: left;
	}
	
	.rabot_slider {
		    max-width: 450px;
    margin: 0 auto;
	}
	
	.rabot_slider .pagination {
		overflow: hidden;
		margin-top: 6px;
	}
	
	.rabot_slider .pagination li {
	    float: left;
    box-sizing: border-box;
        width: 31.8%;
    margin-right: 10px;
	}
	

	
	.rabot_slider .pagination li:last-child {
		 margin-right: 0px;
	}
	
	.rabot_slider .pagination li  img{
	    width: 100%;
	}
	
	.box_tab .zadach, .box_tab .recsh  {
		    margin-left: 25px;
    padding-right: 15px;
    box-sizing: border-box;
	    margin-bottom: 20px;
	}
	
	.box_tab .zadach h4 {
		    color: #bc0a44;
	}
	
	.box_tab .recsh h4 {
		    color: #1292c0;
	}
	
	.box_tab .zadach h4, .box_tab .recsh h4 {
		  font-size: 18px;
    font-weight: normal;
    font-family: "Roboto-Light";
    text-transform: uppercase;
    position: relative;
	    margin-bottom: 5px;
	} 
	
	.box_tab .zadach p, .box_tab .recsh p {
		    font-family: "Roboto-Light";
    font-size: 14px;
    color: #000;
	}
	
	.box_tab .zadach h4:before, .box_tab .recsh h4:before {
	 position: absolute;
    width: 6px;
    height: 7px;
    content: '';
    left: -18px;
    top: 6px;
	}
	
	.box_tab .zadach h4:before {
		 background: url(../images/arrow_red.png) 0 0 no-repeat;
	}
	
	.box_tab .recsh h4:before {
		 background: url(../images/arrow_blu.png) 0 0 no-repeat;
	}
	
	
	#rabot .block_rabot:before {
    position: absolute;
    width: 230px;
    height: 291px;
    content: '';
    background: url(../images/molot.png) 0 0 no-repeat;
    right: -320px;
    bottom: -90px;
}

	#rabot .block_rabot:after {
    position: absolute;
    width: 250px;
    height: 223px;
    content: '';
    background: url(../images/schep.png) 0 0 no-repeat;
    left: -300px;
    top: -85px;
}
	#rabot .block_rabot {
    position: relative;
}

#vygodno {
	    min-height: 450px;
    box-sizing: border-box;
    padding-top: 75px;
}

#vygodno h2 {
    font-family: "Roboto-Light";
    color: #000;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

#vygodno h3 {
    font-family: "Roboto-Bold";
    color: #cc0256;
    font-size: 30px;
    text-align: right;
    font-weight: normal;
    text-transform: uppercase;
    max-width: 490px;
    margin: 0 auto;
}

.row_vygodno {
    overflow: hidden;
	margin-top: 50px;
}

.row_vygodno .box_vygodno {
    max-width: 320px;
    width: 100%;
    float: left;
    margin-right: 30px;
    box-sizing: border-box;
    padding-left: 20px;
	    position: relative;
}

.row_vygodno .box_vygodno p{
    font-family: "Roboto-Light";
    font-size: 15px;
    color: #000;
}

	.row_vygodno .box_vygodno:before {
    position: absolute;
    width: 9px;
    height: 178px;
    content: '';
    background: url(../images/arroe_vygodno.png) 0 0 no-repeat;
    left: 0px;
    top: 3px;
}

.block_vygodno {
    position: relative;
}

.block_vygodno:before {
    position: absolute;
    width: 399px;
    height: 408px;
    content: '';
    background: url(../images/img_vyg.png) 0 0 no-repeat;
        right: -50px;
    bottom: -71px;
}

#zahvat2 {
	    min-height: 212px;
    box-sizing: border-box;
    background: url(../images/bg_zachvat2.jpg) 0 0 no-repeat;
    background-size: cover;
	    padding-top: 35px;
}

#zahvat2 h2 {
	    font-family: "Roboto-Bold";
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5;
}

#zahvat2 h3 {
	    font-family: "Roboto-Regular";
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 15px;
}

#zahvat2 .forma_zachvata:before {
    position: absolute;
    width: 137px;
    height: 282px;
    content: '';
    background: url(../images/kerher.png) 0 0 no-repeat;
    left: -15px;
    top: -140px;
}

#zahvat2 .forma_zachvata:after {
    position: absolute;
    width: 657px;
    height: 523px;
    content: '';
    background: url(../images/schep2.png) 0 0 no-repeat;
        right: -900px;
    bottom: -435px;
}

#prichin {
	    min-height: 800px;
    box-sizing: border-box;
    background: url(../images/bg_prich.png) center bottom no-repeat;
    background-size: cover;
	    padding-top: 90px;
}

#prichin h3 {
    font-family: "Roboto-Bold";
    color: #cc0256;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

#prichin h2 {
    font-family: "Roboto-Light";
    color: #000;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

#prichin .don_prich {
	min-height: 505px;
    margin-top: 70px;
    position: relative;
	    background: url(../images/dom_prich.png) top 70px center no-repeat;
    background-size: inherit;
}

#prichin .don_prich .box_dom_prich h4{
    font-family: "Roboto-Medium";
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 35px;
    position: relative;
	margin-bottom: 5px;
}

#prichin .don_prich .box_dom_prich p {
    font-family: "Roboto-Thin";
    font-size: 14px;
    color: #000;
}

#prichin .don_prich .box_dom_prich h4:before {
    position: absolute;
    width: 25px;
    height: 25px;
    content: '';
    left: 0px;
    top: -2px;
}

#prichin .don_prich .prich1 h4:before {
    background: url(../images/num1.png) 0 0 no-repeat;
}

#prichin .don_prich .prich2 h4:before {
    background: url(../images/num2.png) 0 0 no-repeat;
}

#prichin .don_prich .prich3 h4:before {
    background: url(../images/num3.png) 0 0 no-repeat;
}

#prichin .don_prich .prich4 h4:before {
    background: url(../images/num4.png) 0 0 no-repeat;
}

#prichin .don_prich .prich5 h4:before {
    background: url(../images/num5.png) 0 0 no-repeat;
}

#prichin .don_prich .prich1 {
	    position: absolute;
    width: 285px;
	    left: 0;
    top: 0;
}

#prichin .don_prich .prich2 {
width: 240px;
    top: 265px;
    position: absolute;
    left: 0;
}

#prichin .don_prich .prich3 {
	    width: 290px;
    top: 355px;
    left: 290px;
    position: absolute;
}

#prichin .don_prich .prich4 {
    width: 330px;
    top: 355px;
    right: 0;
    position: absolute;
}

#prichin .don_prich .prich5 {
width: 330px;
    top: 0px;
    right: 0;
    position: absolute;
}

#zahvat3 {
        min-height: 180px;
    box-sizing: border-box;
    background: url(../images/bg_zachvat3.jpg) center no-repeat;
    background-size: cover;
	    padding-top: 35px;
}

#zahvat3 h2{
    font-family: "Roboto-Bold";
    color: #000;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 25px;
}

#otzyv {
    min-height: 905px;
    box-sizing: border-box;
    padding-top: 75px;
	    padding-bottom: 70px;
}

#otzyv  h2 {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto-Light";
	margin-bottom: 25px;
}

#otzyv  h2 span {
    font-family: "Roboto-Medium";
    color: #cc0256;
}

.otzyv_hiden .box_otzyv:first-child  {
	border-top: 1px dashed #dfe5ea;
}

.box_otzyv {
    overflow: hidden;
	    padding-top: 20px;
    padding-bottom: 35px;
    box-sizing: border-box;
    border-bottom: 1px dashed #dfe5ea;
}

.box_otzyv:last-child {
	border-bottom: 0px;
}

.otzyv_vse .box_otzyv:nth-child(2n-1) .img_otzyv {
    float: left;
}

.otzyv_vse .box_otzyv:nth-child(2n) .img_otzyv {
    float: right;
}

.otzyv_hiden .box_otzyv:nth-child(2n) .img_otzyv {
    float: left;
}

.otzyv_hiden .box_otzyv:nth-child(2n-1) .img_otzyv {
    float: right;
}

.box_otzyv .img_otzyv {
    width: 152px;
    height: 152px;
}

.box_otzyv .img_otzyv  img {
    width: 100%;
    border-radius: 50%;
}

.box_otzyv .text_otzyv {
    overflow: hidden;
    padding: 0 15px;
    box-sizing: border-box;
	padding-top: 30px;
}

.box_otzyv .text_otzyv .title_otzyv {
	margin-bottom: 15px;
}

.box_otzyv .text_otzyv p {
    font-family: "OpenSans-Regular";
    font-size: 13px;
    color: #000;
}

.box_otzyv .text_otzyv  h3 {
    font-family: "OpenSans-Regular";
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: normal;
    color: #000;
    display: inline-block;
    vertical-align: middle;
	    margin-right: 95px;
}

.box_otzyv .text_otzyv  h4 {
    font-family: "OpenSans-Semibold";
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 14px;
    background: #dfe5ea;
    border-radius: 3px;
	line-height: 1;
    padding: 5px 15px;
}

.btn_otzyv {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    width: 175px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #dfe5ea;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.btn_otzyv:hover {
	text-decoration: underline;
}

#poradok {
min-height: 740px;
    box-sizing: border-box;
    padding-top: 50px;
    background: #edeff1;
}

#poradok h2 {
	    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto-Light";
}

#poradok h2 span {
	    font-family: "Roboto-Bold";
    color: #cc0256;
}

#poradok .poradok_vse {
	    min-height: 550px;
    margin-top: 50px;
    position: relative;
    background: url(../images/line_poradok.png) top 80px center no-repeat;
    background-size: inherit;
	    text-align: center;
}

#poradok .box_poradok {
    display: inline-block;
	text-align: center;
	vertical-align: top;
	position: relative;
}

#poradok .box_poradok h4 {
    font-family: "OpenSans-Semibold";
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    height: 50px;
}

#poradok .box_poradok h5 {
    width: 62px;
    height: 62px;
    display: inline-block;
    text-align: center;
    line-height: 62px;
    background: url(../images/bg_star.png) center center no-repeat;
    color: #FFF;
    font-family: "Roboto-Regular";
    font-size: 24px;
}

#poradok .box_poradok p {
    margin-top: 10px;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #000;
}

.row1_poradok .box_poradok {
	width: 212px;
	margin: 0 70px;
}

.row1_poradok .box_poradok:before {
 position: absolute;
    width: 34px;
    height: 11px;
    content: '';
        right: -95px;
    top: 15px;
	 background: url(../images/arow_poradok.png) center center no-repeat;
}

.row1_poradok .box_poradok:last-child:before {
	display: none;
}

.row2_poradok .box_poradok:before {
 position: absolute;
    width: 34px;
    height: 11px;
    content: '';
        right: -70px;
    top: 15px;
	 background: url(../images/arow_poradok.png) center center no-repeat;
}

.row2_poradok .box_poradok:last-child:before {
	display: none;
}

.row1_poradok .box_poradok:first-child {
	margin-left: 0;
}

.row1_poradok .box_poradok:last-child {
	margin-right: 0;
}

.row2_poradok .box_poradok {
	width: 278px;
	margin: 0 50px;
}

.row2_poradok .box_poradok:first-child {
	margin-left: 0;
}

.row2_poradok .box_poradok:last-child {
	margin-right: 0;
}

.row2_poradok {
    margin-top: 180px;
}

#poradok  .row2_poradok .box_poradok:last-child  h5 {
 background: url(../images/red_star.png) center center no-repeat;
}

.block_poradok {
position: relative;
}

.block_poradok:before {
 position: absolute;
    width: 127px;
    height: 142px;
    content: '';
    left: -230px;
    top: -165px;
	 background: url(../images/shurup.png) center center no-repeat;
} 

#bolche_rabot {
        min-height: 600px;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 30px;
}

#bolche_rabot h2 {
	    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto-Light";
	    margin-bottom: 50px;
}

#bolche_rabot h2 span {
	    font-family: "Roboto-Bold";
    color: #cc0256;
}

.images1{
        margin-bottom: 40px;
    box-shadow: 2px 2px 10px 2px #e5e5e5;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.images2 {
    box-shadow: 2px 2px 10px 2px #e5e5e5;
    border: 2px solid #fff;
    box-sizing: border-box;
	 margin-bottom: 5px;
}

.owl-prev {
    width: 45px;
    height: 45px;
    background-image: url(../images/naw_left.png);
    background-repeat: no-repeat;
    display: block !important;
    position: absolute;
    left: -85px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-next {
    width: 45px;
    height: 45px;
    background-image: url(../images/naw_right.png);
    background-repeat: no-repeat;
    display: block !important;
    position: absolute;
    right: -85px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block_bolche_rabot {
position: relative;
}

.block_bolche_rabot:before {
 position: absolute;
    width: 89px;
    height: 154px;
    content: '';
       right: -330px;
    top: 0px;
	 background: url(../images/bolt.png) center center no-repeat;
} 

#somnev {
    min-height: 630px;
    box-sizing: border-box;
    background: url(../images/bg_somnev.png) center center no-repeat;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 50px;
}

#somnev h2 {
	    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto-Light";
    line-height: 1.5;
}

#somnev h2 span {
	    font-family: "Roboto-Bold";
    color: #cc0256;
}

#somnev h3 {
font-family: "Roboto-Regular";
    font-size: 18px;
    font-weight: normal;
    color: #000;
    text-align: center;
    line-height: 1.5;
	margin-bottom: 50px;
}

.row_somnev {
overflow: hidden;
}

.row_somnev  .box_somnev {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.row_somnev  .box_somnev  h4 {
margin-top: 10px;
    font-family: "Roboto-Medium";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    color: #000;
    margin-bottom: 50px;
    margin-left: 80px;
}

.row_somnev  .box_somnev  ul li {
font-family: "Roboto-Regular";
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
}

.row_somnev  .box_somnev  ul  {
margin-left: 80px;
}

.row_somnev  .box_somnev  ul li:before {
 position: absolute;
    width: 10px;
    height: 11px;
    content: '';
       left: 0px;
    top: 4px;
	 background: url(../images/arrow_som.png) center center no-repeat;
} 

.row_somnev  .box_somnev  .forma_somnev {
	       float: right;
    width: 360px;
    min-height: 350px;
    background: #2c2c2c;
	    padding-top: 25px;
    box-sizing: border-box;
	    position: relative;
}

.row_somnev  .box_somnev  .forma_somnev  h5 {
    font-family: "Roboto-Regular";
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
	    margin-bottom: 5px;
}

.row_somnev  .box_somnev  .forma_somnev p {
font-family: "Roboto-Regular";
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.row_somnev  .box_somnev  .forma_somnev:before {
 position: absolute;
    width: 191px;
    height: 338px;
    content: '';
         left: -116px;
    top: 12px;
	 background: url(../images/girl_form.png) center center no-repeat;
} 

.forma_somnev form input[type="text"] {
    max-width: 246px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    text-align: left;
    border: none;
    color: #000;
    font-size: 14px;
    font-family: "OpenSans-Regular";
    padding-left: 35px;
    position: relative;
	display: inline-block;
	margin-bottom: 15px;
}

.forma_somnev form input[type="submit"] {
    max-width: 246px;
    width: 100%;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    background: url(../images/bg_btn_zachvat.png) 0 0 no-repeat;
    background-size: cover;
    font-family: "Roboto-Regular";
    font-size: 18.82px;
	display: inline-block;
	margin-top: 5px;
}

.forma_somnev form {
text-align: center;
    margin-top: 25px;
}

.container_fut   {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

footer {
    min-height: 600px;
    box-sizing: border-box;
    background: url(../images/bg_futer.jpg) center center no-repeat;
    background-size: cover;
	padding-top: 55px;
}

.row_fut {
    min-height: 325px;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
}

.row_fut .map {
    width: 375px;
    height: 325px;
	    float: left;
}

.row_fut .vopros {
    overflow: hidden;
	    padding-top: 35px;
}

.row_fut .vopros  h2 {
text-align: center;
    font-family: "Roboto-Regular";
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
	    margin-bottom: 5px;
}

.row_fut .vopros  h3 {
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 14px;
    color: #fff;
    font-weight: normal;
	margin-bottom: 25px;
}

.row_fut .vopros form{
    max-width: 505px;
    margin: 0 auto;
	    text-align: center;
}

.vopros form input[type="text"] {
        max-width: 246px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    text-align: left;
    border: none;
    color: #000;
    font-size: 14px;
    font-family: "OpenSans-Regular";
    padding-left: 35px;
    position: relative;
    display: inline-block;
    margin-bottom: 13px;
}

.vopros form textarea {
        max-width: 246px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    text-align: left;
    border: none;
    color: #000;
    font-size: 14px;
    font-family: "OpenSans-Regular";
    padding-left: 35px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    height: 94px;
    padding-top: 11px;
}

.vopros form input[type="submit"] {
      max-width: 246px;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    background: url(../images/bg_btn_zachvat.png) 0 0 no-repeat;
    background-size: cover;
    font-family: "Roboto-Regular";
    font-size: 18.82px;
    display: inline-block;
    margin-top: 5px;
    clear: both;
}

.vopros form #name5{
    background: url(../images/user_red.png) left 15px center no-repeat;
    background-color: #fff;
	}
	
	.vopros form #phone5{
    background: url(../images/phone_red.png) left 15px center no-repeat;
    background-color: #fff;
	}
	
		.vopros form #message5{
    background: url(../images/kugel_red.png) left 15px top 12px no-repeat;
    background-color: #fff;
	}

.fut_input {
    width: 50%;
    float: left;
	text-align: left;
}

.fut_textarea {
    width: 50%;
    float: left;
    text-align: right;
}

footer .block_top {
    margin-bottom: 65px;
}

footer .block_bottom {
    min-height: 155px;
    background: rgba(0,0,0,0.8);
}

footer .block_bottom .block_fut {
    overflow: hidden;
    box-sizing: border-box;
}

footer .block_bottom .block_fut .block_logo_f {
float: left;
    max-width: 308px;
    width: 100%;
    margin-top: 20px;
}

footer .block_bottom .block_fut  .text_fut{
    float: left;
    max-width: 355px;
    box-sizing: border-box;
    margin-top: 35px;
}

footer .block_bottom .block_fut  .text_fut p {
    font-family: "Roboto-Regular";
    font-size: 14px;
    color: #59d5ff;
    border-left: 1px solid #c4245a;
    margin-left: 5px;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    text-transform: uppercase;
}

footer .block_bottom .block_fut  .block_phone_f {
    max-width: 245px;
    float: right;
    width: 100%;
    text-align: right;
    margin-top: 45px;
    position: relative;
}
footer .block_bottom .block_fut  .block_phone_f p {
    font-family: "Roboto-Medium";
    font-size: 24px;
    color: #fff;
}

footer .block_bottom .block_fut  .block_phone_f a {
    display: inline-block;
    width: 187px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    box-sizing: border-box;
    background: url(../images/bg_btn_hed.png) 0 0 no-repeat;
    background-size: cover;
    font-family: "Roboto-Medium";
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

footer .block_bottom .block_fut  .block_phone_f:before {
    position: absolute;
    width: 32px;
    height: 32px;
    content: '';
    background: url(../images/phone_hed.png) 0 0 no-repeat;
    left: 5px;
    top: 7px;
}

#partner {
padding-top: 85px;
    padding-bottom: 95px;
}

#partner h2 {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto-Light";
    line-height: 1.5;
	margin-bottom: 30px;
}

#partner h2 span {
    font-family: "Roboto-Bold";
    color: #cc0256;
}

#partner .partner_vse {
    text-align: center;
	    overflow: hidden;
		    padding: 5px;
    box-sizing: border-box;
}

#partner .partner_vse img{
    box-shadow: 2px 2px 10px 2px #e5e5e5;
    float: left;
    margin-bottom: 18px;
}

.r_par1 img {margin-right: 26px;}
.r_par1 img:last-child {margin-right: 0;}

.r_par2 img {margin-right: 42px;}
.r_par2 img:last-child {margin-right: 0;}


.r_par3 img {margin-right: 30px;}
.r_par3 img:last-child {margin-right: 0;}

.r_par4 img {margin-right: 25px;}
.r_par4 img:last-child {margin-right: 0;}


.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
     background: rgba(0, 0, 0, 0.15);
  z-index: 99999;
  display: none;
}

.modalDialog:target {
  display: block;
}

.modalDialog > div {
 width: 300px;
    position: relative;
    margin: 15% auto;
    padding: 15px;
    border-radius: 3px;
    color: #000;
    background: #2c2c2c;
    box-shadow: 0 0 50px rgba(255,255,255,0.5);
    display: block;
}

.close {
  background: #606061;
  color: #FFFFFF!important;
  line-height: 24px!important;
  position: absolute;
  right: -10px;
  text-align: center!important;
  top: -10px;
  width: 24px;
  height: 24px;
  text-decoration: none!important;
  font-weight: bold;
  border-radius: 50%;
}

.close:hover {
  background: #B01154;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.modtit {
  font-size: 24px;
  text-transform: uppercase;
 margin-bottom: 10px;
  display: block;
  text-align: center;
  color: #000;
}

.podpiska1 form label{
	display: none;

}

.podpiska1 form input[type="text"] {
    max-width: 246px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    text-align: left;
    border: none;
    color: #000;
    font-size: 14px;
    font-family: "OpenSans-Regular";
    padding-left: 35px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.podpiska1 form input[type="submit"] {
     max-width: 246px;
    width: 100%;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    background: url(../images/bg_btn_zachvat.png) 0 0 no-repeat;
    background-size: cover;
    font-family: "Roboto-Regular";
    font-size: 18.82px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
}

.forma_modal {
    text-align: center;
}

.forma_modal h5 {
    font-family: "Roboto-Regular";
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 10px;
}

.mobile-menu {
    display: none;
    width: 100%;
    background: #004A78;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

#slider .slid_box .sp1.active {
    background: url(../images/sp1_h.png) 0 0 no-repeat;
}

#slider .slid_box .sp2.active {
    background: url(../images/sp2_h.png) 0 0 no-repeat;
}

#slider .slid_box .sp3.active {
    background: url(../images/sp3_h.png) 0 0 no-repeat;
}

#slider .slid_box .sp4.active {
    background: url(../images/sp4_h.png) 0 0 no-repeat;
}

#slider .slid_box .sp5.active {
    background: url(../images/sp5_h.png) 0 0 no-repeat;
}

#slider .slid_box .item_slid.active  a {
display:block;
}

#slider .slid_box .item_slid.active p {
    color: #fff;
}